// Import du fichier variables.scss
@import "variables";

* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    display: flex;
}

body {
    background-color: $couleur-body;
}

.affiche-container {
    background-color: $couleur-div;
    width: 70vh;
    height: 100vh;
    margin: auto;
}